<div class="container">
    <div class="col-lg-9 mt-5 offset-1">
        <div class="card">
              
                    <h4 class="text-center py-2">Post Corruption Details</h4>
             
            <form class="emp-form" #cropForm="ngForm">
                <div class="card-body">
                    <div class="panel-row">
                        <div class="form-group py-2">
                            <label>Select Department:</label>
                            <select [(ngModel)]="model.did" class="form-control text-center" name="dptname">
                                <option [ngValue]="null" disabled>--Select--</option>
                                <option *ngFor="let lst of dlist" [ngValue]="lst.did">{{lst.dname}}</option>
                            </select>
                        </div>
                       
                        <div class="form-group py-2">
                            <label>Enter Decription</label>
                            <textarea name="username" class="form-control" [(ngModel)]="model.description"
                               ></textarea>
                        </div>
                        <div class="form-group py-2">
                            <label>Post Image/Video Information:</label>
                             <input type="file" #fileInput id="file" (change)="getFile($event)" class="form-control" multiple>
                        </div>
                    </div>
                </div>
                <div class="me-3">
                 
                        <div class="form-group"><br>
                            <button type="submit" class="btn btn-primary  mb-2 float-end"
                                (click)="UploadFile()">Submit</button>
                        </div>
                     
                </div>
            </form>
        </div>
    </div>
</div>



                        