<div class="">
    <div class="card bg-light py-1">
        <div class="text-center">
            <h4>Department Dashboard</h4>
         
        </div>
    </div>
    <div class="shadow bg">
       
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <h5 class="ms-3 text-white">An Automation to Handle Corruptions in Government Sector</h5>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item ">
                        <a class="nav-link text-white" routerLink="viewtasks">View Task </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="dprofileupdate">Profile Update</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="dpasswordupdate"> Update Password</a>
                    </li>
                  
                    <li class="nav-item me-4">
                        <a class="nav-link text-white" routerLink="">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        
    </div>
  
    <router-outlet></router-outlet>
  
  </div>