<div class="">
<div class="card bg-light py-1 text-center">
    <h3>Admin Dashboard</h3>
</div>

    <div class="shadow bg">
       
        <nav class="navbar navbar-expand-lg bg-dark">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <h5 class="ms-3 text-white">An Automation to Handle Corruptions in Government Sector</h5>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item ">
                        <a class="nav-link text-white" routerLink="adddept">Add Department </a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="managecorruption">Manage Corruption</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="takeaction">Take Action</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="managepublic">View Publics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="viewfeedback">View Feedback</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link text-white" routerLink="">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        
    </div>
  
    <router-outlet></router-outlet>
  
  </div>